<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd" default-lazy-init ="false">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:*.properties"/>

    <!-- 扫描文件 -->
    <context:annotation-config/>
    <context:component-scan base-package="cn.zb"/>

    <!-- 配置连接池 -->
    <bean id="baseDataSource" class="com.alibaba.druid.pool.DruidDataSource" abstract="true">
        <property name="driverClassName"><value>${mysql.user.driver}</value></property>
        <property name="filters"><value>stat</value></property>
        <property name="maxActive"><value>300</value></property>
        <property name="initialSize"><value>50</value></property>
        <property name="maxWait"><value>15000</value></property>
        <property name="minIdle"><value>10</value></property>
        <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>
        <property name="minEvictableIdleTimeMillis"><value>300000</value></property>
        <property name="validationQuery"><value>SELECT 'x'</value></property>
        <property name="testWhileIdle"><value>true</value></property>
        <property name="testOnBorrow"><value>false</value></property>
        <property name="testOnReturn"><value>false</value></property>
    </bean>

    <import resource="spring-mvc.xml"/>
    <import resource="classpath*:spring/spring-core.xml"/>
    <import resource="db-user.xml" />
    <import resource="mc-user.xml" />

</beans>